# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bam_pileup
coverage_breakpoint
coverage_count_covered
coverage_freq
coverage_mean
coverage_mean_upper_limit
coverage_smooth
coverage_stat
merge_coverage
